.idea/
*.iml
.svn/
.project/
.classpath/
.settings/
build.properties

temporary-test-repos/

target/
bin/
__pycache__

*/latex/*.aux
*/latex/*.bbl
*/latex/*.blg
*/latex/*.log
*/latex/*.out
*/latex/*.synctex.gz